body {
  margin: 0;
  padding: 0;
  font-family: "Roboto" sans-serif;
}

.form-wrapper {
  margin: auto;
  width: 70%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 30px;
}

.form-inputs {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.form-options {
  display: flex;
  gap: 20px;
  margin-bottom: 20px;
}

.form-title {
  text-align: center;
}

.select-group {
  display: flex;
  gap: 10px;
  margin-bottom: 10px;
}

.save-btn {
  display: flex;
  margin: auto;
  width: 150px;
  height: 40px;
  justify-content: center;
  align-items: center;
  font-size: 24px;
  background-color: green;
  color: #ffffff;
  border: none;
  border-radius: 5px;
}

.select-label {
  width: 160px;
}

.add-options {
  display: none;
}

.table {
  border: 1px solid black;
  border-collapse: collapse;
}

.table-block {
  max-width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.column {
  width: 120px;
  text-align: center;
  margin: 0;
}

.column:not(:last-child) {
  border-right: 1px solid black;
  padding: 0 10px 0 10px;
}
.table-title {
  font-size: 16px;
  margin: 10px 0 10px 0;
}

.input-group {
  display: flex;
  gap: 10px;
}

.row {
  border-bottom: 1px solid #000;
}

.delete-button {
  width: 80px;
  height: 40px;
  background-color: red;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  color: #ffffff;
  font-style: normal;
}
